<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:replace="layout::menu"></div>
<!--<form method="post" th:object="${student}">-->
<!--    <input type="text" th:field="*{id}">-->
<!--    <input type="text" th:field="*{name}">-->
<!--    <input type="text" th:field="*{email}">-->
<!--    <button type="submit">Create</button>-->
<!--</form>-->
<form method="post" enctype="multipart/form-data" th:object="${music}" >
  <input type="text" id="id"  th:field ="*{id}">
  <input type="text" id="name"   th:field ="*{nameMusic}" >
  <input type="text" id="email"   th:field ="*{author}">
  <input type="text" id="img"   th:field ="*{category}">
  <input type="file" id="music"   th:field ="*{music}">
  <button type="submit">Create</button>
</form>
<div th:replace="layout::footer"></div>
</body>
</html>