<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:replace="layout::menu"></div>
<!--<form method="post" th:object="${student}">-->
<!--    <input type="text" th:field="*{id}">-->
<!--    <input type="text" th:field="*{name}">-->
<!--    <input type="text" th:field="*{email}">-->
<!--    <button type="submit">Create</button>-->
<!--</form>-->
<form method="post" enctype="multipart/form-data" th:object="${music}" >
    <table>
        <tr>
            <td><input th:hidden="id" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>NameMusic:</td>
            <td><input th:field="*{nameMusic}"></td>
            <td th:if="${#fields.hasErrors('nameMusic')}" th:errors="*{nameMusic}">Name Error</td>
        </tr>
        <tr>
            <td>Author</td>
            <td><input th:field="*{author}"></td>
            <td th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Age Error</td>
        </tr>
        <tr>
            <td>Category:</td>
            <td><input th:field="*{category}"></td>
            <td th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Email Error</td>
        </tr>
        <tr>
            <td>Music</td>
            <td><input type="file" th:field="*{music}"></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>

</form>
<div th:replace="layout::footer"></div>
</body>
</html>